.grid-container {
    margin: 1% auto;
  }
  
  .grid {
    white-space: pre;
  }
  
  button {
    margin: 1px;
  }

  body {
    background-color: rgba(250, 248, 248, 0.678);
  }
  
  .title b{
    color: #000000;
    text-decoration: underline;
  }