@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap");
@media (min-width: 768px) {
:root {
  --color-red: #ec1840;
  --color-purple: #7a18ec;
  --color-white: #fff;
  --color-black-1: #111;
  --color-black-2: #222;
  --color-black-3: #444;
  --speed-normal: 0.5s;
  --speed-fast: 0.8s;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
.grid-container {
    margin: 1% auto;
    /* margin: 7% auto; */
  }
  
  .grid {
    white-space: pre;
  }
  
  /* button {
    margin: 1px;
    cursor: pointer;
  
    border: none;
	border-radius: .4em;
    background-color: white;
  } */

  body {
    background-color: #fafdff;

    /* background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    animation: gradient 20s ease infinite; */
}
}

/* @keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
} */
  
  
  .title b{
    color: #000000;
    font-size: 30px;
    text-decoration: underline;
  }
  

 
  
  /* CSS */
  button {
    appearance: button;
    background-color: white;
    background-image: none;
    border: 1px solid #000;
    border-radius: 4px;
    box-shadow: rgba(4, 0, 255, 0.788) 4px 4px 0 0,#000 4px 4px 0 1px;
    box-sizing: border-box;
    color: rgb(0, 0, 0);
    cursor: pointer;
    display: inline-block;
    font-family: ITCAvantGardeStd-Bk,Arial,sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    margin: 0 5px 10px 0;
    overflow: visible;
    padding: 12px 40px;
    text-align: center;
    text-transform: none;
    touch-action: manipulation;
    user-select: none;
    -webkit-user-select: none;
    vertical-align: middle;
    white-space: nowrap;
  }
  
  button:focus {
    text-decoration: none;
  }
  
  button:hover {
    text-decoration: none;
  }
  
  button:active {
    box-shadow: rgba(0, 0, 0, .125) 0 3px 5px inset;
    outline: 0;
  }
  
  button:not([disabled]):active {
    box-shadow: rgb(226, 128, 0) 2px 2px 0 0, #000 2px 2px 0 1px;
    transform: translate(2px, 2px);
  }
  
  @media (min-width: 768px) {
    button {
      padding: 12px 50px;
    }
  }

  //  display: flex;
  // justify-content: center;
  // align-items: center;
  // flex-direction: column;
  // min-height: 100vh;
  // background: var(--color-black-1);
  // }
  // a {
  //   position: relative;
  //   width: 180px;
  //   height: 60px;
  //   margin: 20px;
  //   line-height: 60px;
  //   letter-spacing: 2px;
  //   text-decoration: none;
  //   text-transform: uppercase;
  //   text-align: center;
  //   color: var(--color-white);
  //   transition: var(--speed-normal);
  //   border: 1px solid var(--color-red);
  
    
  //   &:hover {
  //     border: 1px solid transparent;
  //     background: var(--color-red) url(https://i.postimg.cc/wBXGXbWN/pixel.png); // 360px x 1080px
  //     transition-delay: 0.8s;
  //     background-size: 180px;
  //     animation: animate var(--speed-fast) steps(8) forwards;
  //   }
  //   &:last-of-type {
  //     border: 1px solid var(--color-purple);
    
  //     &:hover {
  //       background: var(--color-purple) url(https://i.postimg.cc/FzBWFtKM/pixel2.png); // 360px x 1080px
  //     }
  //   }
  // }
  // @keyframes animate {
  //   0% {
  //     background-position-y: 0;
  //   }
  //   100% {
  //     background-position-y: -480px;
  //   }
  // }

  


  
  
  