.node {
    width: 25px;
    height: 25px;
    outline: 1px solid rgb(141, 141, 141);
    display: inline-block;
    
  }
  @keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
  

  .node-start {
    background-color: rgba(4, 0, 255, 0.788);
  }
  
  .node-finish {
    background-color: rgb(226, 128, 0);
  }
  
  .node-wall {
    background-color: rgb(0, 0, 0);
  }

  .node-visited {
    animation-name: visitedAnimation;
    animation-duration: 1.5s;
    animation-timing-function: ease-in-out;
    animation-delay: 0;
    animation-direction: alternate;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-play-state: running;
  }
  
  @keyframes visitedAnimation {
  
    75% {
      transform: scale(.4);
      background-color: rgba(88, 181, 235, 0.75);
    }
  
    100% {
      transform: scale(1);
      background-color: rgba(130, 231, 238, 0.75);
    }
  }

  .node-shortest-path {
    animation-name: shortestPath;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
    animation-delay: 0;
    animation-direction: alternate;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-play-state: running;
  }

  @keyframes shortestPath {
    0% {
      transform: scale(.6);
      background-color: rgb(226, 128, 0);
    }
  
    75% {
      transform: scale(1.2);
      background-color: rgb(241, 204, 125);
    }
  
    100% {
      transform: scale(1);
      background-color: rgb(253, 255, 106);
    }
  }
